.square {
    height: 100px;
    width: 100px;
    background: black;
    color: transparent;
    text-align: center;
}

.square:hover {
    color: white;
}

.container {
    display: flex;
    flex-flow: row wrap;
}